<#include "./macro.html">
<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="${LAYOUT_PATH_RELATIVE}/css/style.css" />
<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="${MEI_PATH_RELATIVE}/common/styles/document/document.css" />

<#if MOD_FTL_MODULE_LAYOUT_HIDE == true>
<#include MOD_FTL_MODULE>
<#else>

<div class="layout_admin" id="wrap">

  <!-- header : START -->
  <div id="header">

    <h1>
      <a href="/?mid=admin"><img src="${LAYOUT_PATH_RELATIVE}/images/mei.gif" /></a>

      <ul class="gnb-top">
        <li><a href="javascript:jQuery.member.logout();">Sign out</a></li>
        <li><a href="dispAdminSettingInsert.me?mid=admin">Settings</a></li>
      </ul>

    </h1>

    <ul class="gnb">

    <#assign parent_orl = "">
    <#list MENU.list?if_exists as obj>
      <#if obj.depth?if_exists == "0">
      <li<#if MID == obj.url> class="on" <#assign parent_orl = obj.menu_item_orl> </#if>><a href="${obj.href}">${obj.name}</a></li>
      </#if>
    </#list>

    </ul>

  </div>
  <!-- header : END -->

  <!-- container : START -->
  <div id="container">

    <div class="column_lnb">
     <div>

      <ul id="lnb">
        <li><ul>

        <#list MENU.list?if_exists as obj>
          <#if obj.parent_orl == parent_orl>
            <li><span>${obj.name}</span>
            <ul>

            <#list  MENU.list as objDepth>
              <#if obj.menu_item_orl == objDepth.parent_orl>
                <li class='lnb-href'><a href="${objDepth.href}">${objDepth.name}</a> </li>
              </#if>
            </#list>

            </ul>
            </li>
          </#if>
          
        </#list>

        </ul></li>

      </ul>

     </div>
    </div>
    <div class="column_content"><div><div style="overflow: hidden; float: left; width: 100%;"><div style="padding: 5px ! important;">
      <#include MOD_FTL_MODULE>
      </div></div></div>
    </div>
    <div class="column_side">
    </div>

  </div>
  <!-- container : END -->

  <!-- footer : START -->
  <div id="footer">
    <address>
      <a href="http://code.google.com/p/java-mei/" target="_blank">${meiConfig.getString("mei.log.message.text").replace('\r\n','<br />')}</a>
    </address>
  </div>
  <!-- footer : END -->
</div>

</#if>